# Note that this requirements file list the requirements needed to run the testing suite.
# Package dependencies should be listed in setup.py instead. 
pytest
pandas
python-louvain==0.11
numpy
scipy
seaborn==0.9.0
networkx>=2.0
scikit-learn
networkx>=2.2
seaborn
forceatlas2
nilearn==0.5.0a0
