# Note that this requirements file list the requirements needed to run the testing suite.
# Package dependencies should be listed in setup.py instead. 
pytest
pandas<=0.22.0
python-louvain==0.11 
numpy
scipy
networkx>=2.0
